@model FormClick.Models.User
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "User Profile";
}

<h2 class="text-center my-4">@Localizer["User settings"]</h2>

<form method="post" asp-controller="User" asp-action="Update" id="userForm" class="container" enctype="multipart/form-data">
    <div class="form-group text-center">
        <img src="@Model.ProfilePicture" alt="Profile Picture" class="img-fluid rounded-circle profile-img" />
        <br />
        <button type="button" class="btn btn-secondary" id="addProfilePictureButton">@Localizer["Add profile picture"]</button>
        <div class="dropzone mx-auto" id="profilePictureDropzone" style="display: none;"></div>
        <br />
    </div>
    <div class="form-group">
        <label for="Name">@Localizer["Name"]</label>
        <input type="text" class="form-control form-control-lg" id="Name" name="Name" value="@Model.Name" required />
        <label for="Username">@Localizer["Username"]</label>
        <input type="text" class="form-control form-control-lg" id="Username" name="Username" value="@Model.Username" readonly />
    </div>
    <div class="form-group">
        <label for="Cellphone">@Localizer["Cellphone"]</label>
        <input type="text" class="form-control form-control-lg" id="Cellphone" name="Cellphone" value="@Model.Cellphone" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control form-control-lg" id="Email" name="Email" value="@Model.Email" readonly />
    </div>
    <div class="form-group">
        <label for="Language">@Localizer["Language"]</label>
        <select class="form-control form-control-lg" name="Language" asp-for="Language">
            <option value="es">Español (Mexico)</option>
            <option value="en">English (United States)</option>
            <option value="de">Deutsch (Germany)</option>
        </select>
    </div>
    <!--
        <div class="form-group form-check">
            <label for="DarkMode" class="form-check-label">
                <input type="checkbox" id="DarkMode" name="DarkMode" class="form-check-input" />
                Dark Mode
            </label>
        </div>
    -->
    

    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg mt-4">@Localizer["Save changes"]</button>
    </div>
</form>

<script>
    document.getElementById('addProfilePictureButton').addEventListener('click', function() {
        var dropzone = document.getElementById('profilePictureDropzone');
        dropzone.style.display = 'block';
    });

    Dropzone.options.profilePictureDropzone = {
        url: '@Url.Action("UploadProfilePicture", "User")',
        paramName: "file",
        maxFilesize: 5,
        acceptedFiles: "image/*",
        dictDefaultMessage: "Drag and drop",
        success: function (file, response) {
        console.log(response);
        if (response.success) {
            alert("Succesfully charged");
            const img = document.querySelector('.profile-img');
            img.src = response.filePath;
            img.onload = function() {
                // Aquí puedes hacer algo después de que la imagen se haya cargado
            };
        } else {
            alert("Error: " + response.message);
        }
    }

    };
</script>

<style>
    .profile-img {
        max-width: 300px;
        max-height: 300px;
        object-fit: cover;
    }

    .dropzone {
        border: 2px dashed #007bff;
        padding: 10px;
        margin-bottom: 20px;
        width: 250px;
        display: none;
    }

    .rounded-circle {
        border-radius: 20% !important;
    }

    .dropzone.mx-auto {
        margin: 0 auto;
    }

    #addProfilePictureButton {
        margin-top: 10px;
    }
</style>
